<%= render 'layouts/admin_header' %>

<div class="container mb-5">
  <div class="row">
    <h4 class="m-5 col-2">
      <span class="bg-light px-4">
        商品詳細
      </span>
    </h4>
  </div>
  <div><%= image_tag @item.get_product_image(50,50) %></div>
  <div>商品名</div>
  <div>商品説明</div>
  <div>ジャンル</div>
  <div>税込価格(税抜価格)</div>
  <div>販売ステータス</div>
  <div>編集する</div>
</div>

<%= render 'layouts/footer' %>