<%= render 'layouts/customer_header' %>

<div>
    ようこそ、ながのCAKEへ!<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
</div>
<h2>新着商品</h2>
<div>
    <div>
        <div>商品名</div>
        <div>￥0,000</div>
    </div>
    <div>
        <div>商品名</div>
        <div>￥0,000</div>
    </div>
    <div>
        <div>商品名</div>
        <div>￥0,000</div>
    </div>
    <div>
        <div>商品名</div>
        <div>￥0,000</div>
    </div>
    <div>全ての商品を見る ></div>
</div>

<%= render 'layouts/footer' %>